@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap');

:root{
    /*colores de la marca*/ 
    --negro: #000000;
    --blanco: #FFFFFF;
    --gris: #808080;

}

body{ 
    font-family: monospace;
    background-color: var(--blanco);
}

h2{
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    color: var(--blanco);

}


p.producto{
    font-size: 20px;
    color: var(--blanco);
    font-family: monospace;
    background-color: var(--gris);
}

p.intro{
    font-size: 20px;
    color: var(--blanco);
    font-family: monospace;
    background-color: var(--gris);

}

.logo{
    margin: auto;
    width: 100%;
    text-align: center;
}
.logo img{
    width: 30px;
}

.imagen{
    margin: auto;
    width: 100%;
    text-align: center;
}
.imagen img{
    width: 1000px;
}