@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    /*colores de la marca*/ 
    --negro: #000000;
    --blanco: #FFFFFF;
    --gris: #808080;

}

.encabezado {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--blanco);
    padding: 20px;
}

.encabezado a {
    text-decoration: none;
    flex: 0 0 auto;
}

.encabezado .fa-bars {
    font-size: 30px;
    color: var(--negro);
    margin-right: 20px; /* Espacio entre icono y imagen */
}

.encabezado .fa-user {
    font-size: 30px;
    color: var(--negro);
    margin-left: 20px; /* Espacio entre imagen y icono */
}

.encabezado img {
    width: 310px;
    display: block;
    margin: 0 auto;
}

.fecha {
    background-color: var(--gris);
    color: var(--blanco); 
    font-family: 'Noto Sans Georgian', sans-serif;
    padding: 4px 12px;
    font-size: 1.5em;
    margin: 1px 0;
    border-radius: 4px;
}